@import url(//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);
@import url(https://fonts.googleapis.com/css?family=Titillium+Web:300);

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #22212C;
}

h3{
    color: #837E9F;
    margin-bottom: 5px;
}

h5{
    color: #6c6784;
    text-align: center;
}

p{
    font-size: 13px;
    color: #6c6784;
}

i{
    font-size: 15px;
    color: #6c6784;
    padding-right: 8px;
}

a{
    color: #837E9F;
    text-decoration: none;
}

a:hover{
    color: #a891cc;
    transition: 0.3s;
}

h5:hover{
    color: #837E9F;
    transition: 0.3s;
}

.p-project{
    font-size: 1.17em;
    font-weight: bold;
    color: #837E9F;
}

.container{
    display: flex;
    gap: 0.rem;
}

.col1{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    flex: 0.6;
    gap: 1.3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: white 1px solid; */
}

.col2{
    padding-top: 30px;
    padding-bottom: 30px;
    height: 100%;
    flex: 25%;
    gap: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* border: white 1px solid; */
    padding-right: 40px;
}


.perfil{
    background-color: #302F3D;
    width: 310px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 10px;
}

.infos{
    background-color: #302F3D;
    width: 310px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
    display: flex;
    align-items: center;
    justify-content: left;
    padding: 20px 0px 20px 70px;
}

.techs-itens{
    display: flex;
    gap: 0.5rem;
    background-color: #CB92B1;
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
    justify-content: center;
}

.tecnologias{
    background-color: #302F3D;
    width: 310px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.experiencias{
    background-color: #302F3D;
    width: 310px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
    align-items: center;
    justify-content: center;
    padding: 20px 20px 20px 20px;
}

.techs{
    padding-top: 8px;
    grid-template-columns: 1fr 2fr;
    gap: 0.6rem;
    font-size: 11px;
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.infos div{
    display: flex;
    flex-direction: column;
    gap: 18px;
}

.perfil div img{
    border: 2px solid rgb(216, 174, 255);
    margin: 20px 0px;
    width: 100px;
    border-radius: 50%;
}

.my-projects{
    background-color: #302F3D;
    width: 980px;
    height: 75px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 25px;
}

.my-projects div{
    display: flex;
    align-items: center;
    justify-content: center;   
}

.lista-exp{
    padding-top: 10px;
    flex-direction: column;
    display: flex;
    gap: 0.8rem;
}

.desenvolvimentos{
    width: 980px;
    height: auto;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(2, auto);
    grid-template-columns: 1fr 2fr;
}

.card1{
    background-color: #302F3D;
    width: 482px;
    height: 175px;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
}

.card-title{
    color: #837E9F;
    font-size: 15px;
    font-weight: bold;
    padding-left: 22px;
    display: flex;
    margin-top: 25px;
    /* border: white 1px solid; */
}

.card-content{
    letter-spacing: 1px;
    font-size: 15px;
    padding: 20px 20px;
    width: 490px;
    height: 100px;
    /* border: white 1px solid; */
}

.card-footer{
    gap: 10px;
    font-size: 13px;
    color: #837E9F;
    padding-left: 22px;
    display: flex;
}

.canto{
    display: flex;
    padding-left: 260px;
}

.posts{
    width: 980px;
    height: 180px;
    display: flex;
    justify-content: space-between;
    background-color: #302F3D;
    border-radius: 20px;
    box-shadow: 3px 4px #1C1B24;
}

.ft-perfil{
    padding-left: 10px;
    display: flex;
    width: 150px;
    height: 180px;
    justify-content: center;
    align-items: center;
}

.ft-perfil div img{
    width: 110px;
    border-radius: 50%;
}

.post-title{
    color: #837E9F;
    font-size: 17px;
    font-weight: bold;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
    margin-top: 25px;
    /* border: white 1px solid; */
}


.posts-itens{
    width: 850px;
    height: 80px;
    /* border: white 1px solid; */
}

.posts-content{
    color: #6c6784;
    margin-top: 30px;
    width: 850px;
    height: 80px;
    padding-left: 15px;
    font-size: 15px;
}

.posts-content div{
    margin-top: 10px;
    display: flex;
    gap: 1rem;
    font-weight: bold;
}

ul li{
    font-size: 14px;
    font-weight: bold;
    color: #837E9F;
}

footer{
    margin-top: auto;
    color: #837E9F;
    font-weight: bold;
    font-size: 13px;
    height: 2rem;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}